/*
This stylesheet is connected to the main website
Created on : 3-dec-2019, 11:18:57
Author     : J. de Klijn
*/

/* Main styling */
:root{ /* Styling variables */
    --PrimaryColor:     #7E9F35; /* Yellow green*/
    --SecondaryColor:   #A7383D; /* Red */
    --ThirdColor:       #562A72; /* Puprple*/
    --ShadeOfWhite:     #A6A7A3; /* Very light green*/
    --ShadeOfBlack:     #689700; /* Darkest green*/
    --SecondBlack:      #A7383D; /* Dark red */   
}

/* ============== General styling =================*/
body{
    background-color:   var(--PrimaryColor);    /* Green */
    color:              var(--ShadeOfWhite);    /* Light green text color */
    font-size:          14pt;
}

/* =========== Container class ====================*/
.container{                                     /* Main container*/
    width:              70%;
    margin-left:        15%;
    background-color:   var(--SecondaryColor);
}

.innerContainer{
    margin-top:         -1%;
    width:              90%;
    margin-left:        5%;
    background-color:   var(--ThirdColor);
}

.blockContainer{
    padding-top:        3%;
    padding-left:       1%;
    width:              80%;
    margin-left:        10%;
    background-color:   var(--SecondBlack); 
}
