/*
This stylesheet is connected to the main website
Created on : 1-nov-2019, 11:18:57
Author     : J. de Klijn
*/

/* Main styling */

:root{
    --PrimarytColor: #aa9773; /* Yellow green */
    --SecondaryColor: #87a237; /* Green */
    --ShadeOfWhite: #fff7d2; /* Very light green */
    --ShadeOfBlack: #201800;/* Darkest green */
    --SecondBlack: #655509;/* Dark green */
}

body{
    background: var(--PrimarytColor);
    color: black;
    font-size: 14pt;
}



h1{
    color: var(--ShadeOfWhite);
    font-size: 72pt;
}

h2{
    color: var(--ShadeOfBlack);
    font-size: 64pt;
}
h3{
    font-size: 54pt;
}
h4{
    font-size: 46pt;
}
h5{
    font-size: 38pt;
}
h6{
    font-size: 30pt;
}

h7{
    font-size: 22pt;
}

h8{
    font-size: 14pt;
}

a{
    color: var(--ShadeOfWhite);
    background-color: var(--PrimarytColor);
    text-decoration: none;
}

a:hover{ /* The styling of the link in mouseover*/
    color: var(--ShadeOfBlack);
    background-color: var(--SecondaryColor);
}

.boxmodel{
    border: 4px red;
    border-style: dotted;
}
